.list {
    margin-bottom: 30px;

    li {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px 12px;

        &.active {
            background: #ffffff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
        }

        i {
            display: inline-flex;
            margin-right: 8px;
        }

        .badge {
            width: 10px;
            height: 10px;
            border-radius: 30px;
            position: relative;
            left: 5px;

            &--green {
                background-color: #42b883;
            }

            &--blue {
                background-color: #64C4ED;
            }

            &--pink {
                background-color: #FFBBCC;
            }
        }
    }
}
