.tasks {
    padding: 10px;

    &__item {
        padding: 10px;
        border-radius: 50px;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .2);
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__no-tasks {
        font-size: 25px;
        color: lightgrey;
        user-select: none;
    }

    &__button {
        margin-top: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
    }
}