$inputColorWidth: 30px;

.button {
    &__add {
        cursor: pointer;
        display: flex;
        justify-content: center;
    }

    &__popup {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
        padding: 10px;
        border-radius: 5px;
        background: lightgrey;

        &-item {
            margin-bottom: 10px;
            display: flex;
            align-items: center;

            &:last-child {
                margin-bottom: 0;
            }

            &._error {
                &::placeholder {
                    color: red;
                }
            }

            label {
                display: block;
                position: relative;
                width: $inputColorWidth;
                height: $inputColorWidth;
                margin-left: 10px;
                cursor: pointer;
                overflow: hidden;
            }

            input[type="color"] {
                -webkit-appearance: none;
                border: none;
                background: #fff;
                width: $inputColorWidth;
                height: $inputColorWidth;
                border-radius: 5px;
                overflow: hidden;
                outline: none;
                cursor: inherit;
            }

            /* -webkit */
            input[type="color"]::-webkit-color-swatch-wrapper {
                padding: 0;
            }

            input[type="color"]::-webkit-color-swatch {
                border: none;
                border-radius: 5px;
            }

            /* firefox */
            input[type="color"]::-moz-focus-inner {
                border: none;
                padding: 0;
                border-radius: 5px;
            }

            input[type="color"]::-moz-color-swatch {
                border: none;
                border-radius: 5px;
                height: calc($inputColorWidth - 10px);
            }
        }

        &-close {
            position: absolute;
            right: -8px;
            top: -8px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: lightgrey;
            cursor: pointer;
        }
    }
}
