.button {
    &__add {
        cursor: pointer;
    }

    &__popup {
        display: flex;
        flex-direction: column;
        background: red;
        padding: 10px;

        &-item {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}