.lists-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px;
    border-radius: 4px;

    &._active {
        background: lightblue;
    }

    &__text {
        width: 100%;
        cursor: default;
    }

    svg {
        width: 20px;
        user-select: none;
    }

    &__remove-button {
        cursor: pointer;
    }
}