.lists-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;

    &._active {
        background: lightblue;
    }

    &__text {
        width: 100%;
        cursor: pointer;
    }

    svg {
        width: 20px;
        user-select: none;
    }

    &__remove-button {
        cursor: pointer;
    }

    &__no-list {
        font-size: 25px;
        color: lightgrey;
        user-select: none;
    }
}