* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  background: #000;
  margin: 0 5px;
}

.todo {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 5px auto;
  border: 1px solid lightgray;
  font-size: 14px;
  background: #ffffff;
  border-radius: 5px;
}

.button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  transition: .2s linear;

  &:hover {
    background: darken(#ffffff, 8%);
  }
}

.input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
}